@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box; 
}

:root {
  --beige: #FFF8DB;
  --pink: #FFC7ED;
  --pink-orange: #FFA38F;
  --light-blue: #7D8ABC;
  --navy: #304463;
}
h1 {
  text-align: center;
  text-shadow: 0 0 3px var(--pink-orange);
}
body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--navy);
  color: var(--beige);
}

.cash-register-container {
  background-color: var(--pink);
  color: black;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 7px black;
}

li {
  display: flex;
  justify-content: space-between;
}

li span {
  margin-right: 2rem;
  background-color: var(--beige);
  padding: 0.1rem 0.7rem;
  border-radius: 2px;
  font-weight: 500;
}

.total-container {
  background-color: var(--light-blue);
  padding: 0.4rem;
  border-radius: 3px;
  border: 1px solid var(--navy);
  box-shadow: inset 0 0 4px var(--navy);
}
.total-container span {
  font-weight: 500;
}
.cash-container {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}
.cash-container input {
  font-size: 1.1rem;
  margin-left: 8px;
  background-color: var(--beige);
  border: none;
  }
.cash-container input:focus {
  outline: 2px solid var(--pink-orange);
}

.purchase-btn {
  text-align: center;
}

.purchase-btn button {
  padding: 0.3rem 1rem;
  font-weight: 550;
  border: 1px solid var(--navy);
  background: linear-gradient(var(--pink-orange), var(--light-blue));
  cursor: pointer;
}
.purchase-btn button:hover {
  background: linear-gradient(var(--pink), var(--pink-orange));
}

.verdict {
  display: none; /* ************ */
  max-width: 260px;
  margin: 1rem auto;
  border: 2px solid var(--light-blue);
  padding: 1rem;
  border-radius: 7px;
}